.root__section {
  width: calc(100% - 96px);
  margin: auto;
  max-width: 1536px;
  min-width: 320px;
}

@media screen and (max-width: 1060px) {
  .root__section {
    width: 98%;
    margin: auto;
    max-width: 1536px;
    min-width: 320px;
  }
}
