.header__inlet-icon {
  width: 24px;
  height: 24px;
  fill: #D2001C;
  margin-right: 10px;
}

@media screen and (max-width: 1060px) {
  .header__inlet-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__inlet-icon {
    width: 15px;
    height: 15px;
  }
}
