.header__item {
  font-size: 13px;
  line-height: 18px;
  margin-left: 20px;
  font-weight: 600;
}

.header__item_link {
  text-decoration: none;
  margin-left: 0;
  color: #000;
}

.header__item:first-child {
  margin-left: 0;
}
