.header__item {
  font-size: 13px;
  line-height: 18px;
  margin-left: 0;
  font-weight: 600;
  font-family: 'OpenSans';
  font-style:  normal;
  font-weight: 700;
}

.header__item_link {
  text-decoration: none;
  margin-left: 0;
  color: #000;
}

.header__item:first-child {
  margin-left: 0;
}

.header__item_not-link {
  cursor: default;
}


@media screen and (max-width: 1200px) {
  .header__item_smatr-version {
    font-size: 9px;
    line-height: 15px;
  }
}

@media screen and (max-width: 1060px) {
  .header__item {
    font-size: 9px;
    line-height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header__item {
    font-size: 9px;
    line-height: 15px;
    margin: 0;
  }
  .header__item_not-link {
    max-width: 136px;
  }
  .header__item_smatr-version {
    padding-top: 5px;
  }
}

@media screen and (max-width: 360px) {
  .header__item_not-link {
    width: 90px;
  }
}
