.header__button-icon {
  width: 10px;
  height: 6px;
  fill: #222;
  position: relative;
  top:-2px;
  cursor: pointer;
}

.header__button-icon_gray {
  fill: #bdbdbd;
}

@media screen and (max-width: 1060px) {
  .header__button-icon {
    width: 7px;
    height: 4px;
  }
}
