@import url(./__section/root__section.css);
@import url(./__block/root__block.css);

.root {
  background-color: #e5e5e5;
  min-height: 100%;
  width: 1536px;
  font-family: 'Inter';
  /*padding-bottom: 194px;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 140px;
  }
}*/
