.header__active {
  width: 100%;
  height: 102px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .header__active {
    justify-content: space-between;
  }
}
