.header__contact {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  min-width: 316px;
}

@media screen and (max-width: 768px) {
  .header__contact {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
  }
  .header__contact_smart-version {
    display: none;
  }

}
