.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__nav {
    width: 760px;
    font-size: 10px;
    padding-top: 15px;
    padding-left: 3px;
    padding-right: 3px;
  }
}
