.header__content {
  background-color: #fff;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 20px;
  font-family: 'OpenSans';
  font-style:  normal;
  font-weight: 400;
  border-bottom: rgba(189, 189, 189, .35) 1px solid;
}

@media screen and (max-width: 1300px) {
  .header__content {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1060px) {
  .header__content {
    padding-right: 2px;
    padding-left: 2px;
  }
}

@media screen and (max-width: 768px) {
  .header__content {
    padding-right: 2px;
    padding-left: 2px;
  }
}
