.header__icon {
  fill: #000;
  width: 17px;
  height: 17px;
  margin-left: 18px;
  list-style-type: none;
}

.header__icon_telegram {
  margin-left: 12px;
}

.header__icon_scype {
  margin-left: 15px;
}
