.content__text {
  font-weight: 500;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 19px;
  margin-top: 20px;
}

.content__text_pale {
  font-size: 14px;
  color: #c4c4c4;
  line-height: 17px;
  padding-top: 0px;
  max-width: 280px;
}

.content__text_bright {
  padding: 2px;
  color: #d2001c;
}


@media screen and (max-width: 768px) {
  .content__text {
    font-size: 12px;
    line-height: 15px;
  }
  .content__text_pale {
    font-size: 10px;
    color: #c4c4c4;
    line-height: 13px;
    max-width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .content__text {
    font-size: 12px;
    line-height: 15px;
    min-width: 310px;
    width: 99%;
  }

  .content__text_pale {
    font-size: 10px;
    color: #c4c4c4;
    line-height: 13px;
    max-width: 95%;
    min-width: 310px;
  }
}
