.header__form-button {
  background-color: transparent;
  border: 2px solid #d2001c;
  border-radius: 4px;
  color: #d2001c;
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 75px;
  height: 36px;
  cursor: pointer;
}


@media screen and (max-width: 1060px) {
  .header__form-button {
    font-size: 10px;
    line-height: 15px;
    top: 9px;
  }
}

@media screen and (max-width: 768px) {
  .header__form-button {
    width: 75px;
    height: 26px;
    font-size: 10px;
    line-height: 15px;
    top: 4px;
  }
}
