.popup__item {
  max-width: 760px;
  width: 95%;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  list-style-type: none;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 5px;
  margin-left: 5px;
}
