.header__basket {
  background-color: #d2001c;
  border-radius: 4px;
  border: none;
  display: flex;
  padding: 7px 13px 3px 13px;
  font-family: 'OpenSans';
  font-style:  normal;
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  position: relative;
}

.header__basket_smatr-version{
  display: none;
}

@media screen and (max-width: 1060px) {
  .header__basket {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width: 900px) {
  .header__basket {
    display: none;
  }
  .header__basket_smatr-version {
    display: inline;
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
.header__basket_disabled {
  display: none;
}
}
