.header__basket-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-right: 10px;
  position: relative;
  top: -4px;
}

@media screen and (max-width: 1060px) {
  .header__basket-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__basket-icon {
    width: 18px;
    height: 18px;
  }
}
