.header__basket-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-right: 10px;
  position: relative;
  top: -4px;
}



@media screen and (max-width: 1060px) {
  .header__basket-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 900px) {
  .header__basket-icon {
    width: 18px;
    height: 18px;
    fill: #d2001c;
    margin: 0;
    top: 0;
  }
  .header__basket-icon {

  }
}
