.header__inlet {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #222;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  font-family: 'OpenSans';
  font-style:  normal;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  .header__inlet {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header__inlet {
    font-size: 10px;
    line-height: 15px;
  }
}
