.content__title {
  font-size: 27px;
  line-height: 32px;
  font-weight: 400;
  padding: 17px 0 40px 0;
  margin: 0;
  max-width: 333px;
}

.content__title_min {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #222;
  padding-right: 22px;
  min-width: 290px;
  padding: 0;
}
