@import url(../content/__img/content__img.css);
@import url(../content/__wrapper/content__wrapper.css);
@import url(../content/__resume/content__resume.css);
@import url(../content/__title/content__title.css);
@import url(../content/__button/content__button.css);
@import url(../content/__text/content__text.css);
@import url(../content/__band/content__band.css);
@import url(../content/__icon/content__icon.css);
@import url(../content/__box/conent__box.css);
@import url(../content/__resume-box/content__resume-box.css);

.content {
  width: calc(100% - 300px);
  padding: 65px 150px 30px 150px;
  margin: auto;
  font-family: 'SFProDisplay';
  font-style:  normal;
  font-weight: 400;
  min-width: 320px;
}

@media screen and (max-width: 1060px) {
  .content {
    width: calc(100% - 20px);
    padding: 40px 10px 30px 10px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100% - 20px);
    padding: 20px 10px 10px 10px;
  }
}
