

@media screen and (max-width: 768px) {
  .header__nav-wrapper {
    width: calc(100% - 6px);
    padding-left: 3px;
    padding-right: 3px;
    max-width: 760px;
    padding-top: 15px;
    overflow: hidden;
    overflow-y: overlay;
    overflow-x: scroll;
    background-color: #fff;
  }
}
